{
    "ENV_HTTP_AUTH_ENABLED": false,
    "ENV_HTTP_USER": "",
    "ENV_HTTP_PASS": "",
    "ENV_ADMIN_URL": "",
    "ENV_CLIENT_USER": "",
    "ENV_CLIENT_PASS": "",
    "ENV_ADMIN_USER": "",
    "ENV_ADMIN_PASS": "",
    "REMOTE_LOG_URL": "",
    "ENV_CURRENCY_TO_CHANGE_WITH": "USD",
    "ENV_CURRENCIES_TO_TEST": ["USD", "EUR"],
    "ENV_CARD_NUMBER": 4100000000000000,
    "ENV_CARD_EXPIRY": 1226,
    "ENV_CARD_CVV": 654
}